<form [formGroup]="validateForm">
  <mat-list>
    <mat-list-item *ngFor="let field of fields">


      <mat-form-field class="full-width">
        <mat-label>{{ label( field ) }}</mat-label>

        <ng-container [ngSwitch]="field.control">

          <mat-select
              *ngSwitchCase="'select'"
              [required]="field.required"
              [formControl]="validateForm.controls[field.name]">
            <mat-option *ngFor="let option of options[field.name]" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>

          <mat-select
              *ngSwitchCase="'multiple'"
              [multiple]="true"
              [required]="field.required"
              [formControl]="validateForm.controls[field.name]">
            <mat-option *ngFor="let option of options[field.name]" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>

          <input
            *ngSwitchDefault
            matInput
            [required]="field.required"
            [formControl]="validateForm.controls[field.name]">

        </ng-container>

        <mat-error *ngIf="validateForm.controls[field.name].invalid">
          {{errorTip(field)}}
        </mat-error>

      </mat-form-field>

    </mat-list-item>
   </mat-list>
</form>


<!--form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item *ngFor="let field of fields">
    <nz-form-label [nzSpan]="6" [nzRequired]="field.required" [nzFor]="field.name">
      {{ label( field ) }}
    </nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip(field)">

      <ng-container [ngSwitch]="field.control">

        <nz-select
            *ngSwitchCase="'tags'"
            nzShowSearch
            nzAllowClear
            nzMode="tags"
            nzPlaceHolder="Select a value"
            [formControlName]="field.name">
          <nz-option
            *ngFor="let value of field.values(data.data)"
            [nzLabel]="value.label"
            [nzValue]="value.value">
          </nz-option>
        </nz-select>

        <nz-select
            *ngSwitchCase="'select'"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a value"
            [formControlName]="field.name">
          <nz-option
            *ngFor="let value of field.values(data.data)"
            [nzLabel]="value.label"
            [nzValue]="value.value">
          </nz-option>
        </nz-select>

        <input *ngSwitchDefault nz-input [formControlName]="field.name" [id]="field.name" />
    </ng-container>

    </nz-form-control>
  </nz-form-item>
</form-->
