<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-list>
    <mat-list-item *ngFor="let field of fields">


      <mat-form-field class="full-width">
        <mat-label>{{ label( field ) }}</mat-label>

        <ng-container [ngSwitch]="field.control">

          <mat-select
              *ngSwitchCase="'select'"
              [required]="field.required"
              (selectionChange)="onSelectionChange(field, $event.value)"
              [formControl]="form.controls[field.name]">
            <mat-option *ngFor="let option of options[field.name]" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>

          <mat-select
              *ngSwitchCase="'multiple'"
              [multiple]="true"
              [required]="field.required"
              [formControl]="form.controls[field.name]">
            <mat-option *ngFor="let option of options[field.name]" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>

          <admin-file-upload
              *ngSwitchCase="'file'"
              [field]="field"
              (onLoad)="this.onFileLoad($event)">
          </admin-file-upload>

          <input
            *ngSwitchDefault
            matInput
            [required]="field.required"
            [formControl]="form.controls[field.name]">

        </ng-container>

        <mat-error *ngIf="form.controls[field.name].invalid">
          {{errorTip(field)}}
        </mat-error>

      </mat-form-field>

    </mat-list-item>
   </mat-list>
</form>
