<div class="mat-app-background">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button-->
      <h1>D2PROM</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="['/admin', 'clients']"> Clients </a>
        <a mat-button [routerLink]="['/admin', 'organisations']"> Organisations </a>

        <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
        <mat-menu #adminMenu="matMenu">
          <a *ngFor="let entity of entities"
              mat-menu-item
              [routerLink]="['admin', entity.path]">
            {{ title(entity) }}
          </a>
        </mat-menu>
      </div>
      <span class="flex-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar-row class="breadcrumb">
    <a [routerLink]="['/']">
      <mat-icon
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="Home">
        home_outline
      </mat-icon>
    </a>
    <span id="breadcrumb"></span>
  </mat-toolbar-row>


  <mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
          <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
          <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
          <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
          <a mat-list-item [routerLink]="'/activities'"> Activities </a>
          <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
          <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 88vh;">

          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>


<!--nz-layout class="app-layout">

  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <i nz-icon nzType="safety" style="font-size: 24px; color: #08c;"></i>
        <h1>D2PROM</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="General" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/about">About</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Clients" nzIcon="usergroup-delete">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/clients">Clients</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/organisations">Organisations</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Admin" nzIcon="usergroup-delete">
        <ul>
          <li *ngFor="let entity of entities" nz-menu-item nzMatchRouter>
            <a [routerLink]="['admin', entity.path]">{{ title(entity) }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>

        <span id="breadcrumb"></span>

      </div>
    </nz-header>
    <nz-content>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-footer>GAMA Demo App</nz-footer-->

<div class="loading" [ngClass]="{'on': loading}">
  <mat-spinner></mat-spinner>
</div>

