<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>Organisations</nz-page-header-title>
  <nz-page-header-extra>
    <button (click)="newOrganisation()" nz-button nzType="primary">New client</button>
  </nz-page-header-extra>
</nz-page-header>

<div *ngIf="loading">Loading...</div>

<nz-table #basicTable [nzData]="organisations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Industries</th>
      <th>Client</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let organisation of basicTable.data">
      <td (click)="selectOrganisation(organisation.id)">{{organisation.name}}</td>
      <td (click)="selectOrganisation(organisation.id)">{{ industries( organisation )}}</td>
      <td (click)="selectClient(organisation.client.id)">{{organisation.client.name}}</td>
      <td align="right">
        <nz-space>
          <nz-space-item>
            <a (click)="selectOrganisation(organisation.id)"> <i nz-icon nzType="eye" nzTheme="outline"></i> </a>
          </nz-space-item>
          <nz-space-item>
            <a (click)="deleteOrganisation(organisation.id)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </nz-space-item>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
