<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>
    <span>{{ "" }}</span>
  </nz-page-header-title>
  <nz-page-header-subtitle>{{ entityName }}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary">Edit</button>
    <button nz-button nzType="secondary">Delete</button>
  </nz-page-header-extra>
</nz-page-header>

<div *ngIf="loading">Loading...</div>

<nz-descriptions *ngIf="item" nzTitle="Entity data" nzBordered [nzColumn]="1">
  <nz-descriptions-item *ngFor="let field of fields" [nzTitle]="label( field )">
    {{ value( item, field ) }}
  </nz-descriptions-item>
</nz-descriptions>
