<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>{{ title('index') }}</nz-page-header-title>
  <nz-page-header-extra>
    <button (click)="onNew()" nz-button nzType="primary">New {{ data.entityName }}</button>
  </nz-page-header-extra>
</nz-page-header>

<app-table
  [parent]="data.parent?.path"
  [config]="data.config.index"
  [items]="data.items"
  (selectItem)="onSelect($event)"
  (actionItem)="onAction($event)">
</app-table>

<app-breadcrumb [items]="breadcrumbs"></app-breadcrumb>
