
<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>
    <span>{{ name() }}</span>
  </nz-page-header-title>
  <nz-page-header-subtitle>{{ title('show') }}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="onSave()">Save</button>
    <button nz-button nzType="secondary" (click)="onCancel()">Cancel</button>
  </nz-page-header-extra>
</nz-page-header>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item *ngFor="let field of fields">
    <nz-form-label [nzSpan]="6" [nzRequired]="required(field)" [nzFor]="field.name">
      {{ label( field )}}
    </nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip(field)">
      <input nz-input [formControlName]="field.name" [id]="field.name" />
    </nz-form-control>
  </nz-form-item >
</form>

<app-breadcrumb [items]="breadcrumbs"></app-breadcrumb>
