<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>
    <span *ngIf="organisation">{{ organisation.name }}</span>
  </nz-page-header-title>
  <nz-page-header-subtitle *ngIf="organisation">
    {{ organisation.client.name }}
  </nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary">Edit</button>
    <button nz-button nzType="secondary">Delete</button>
  </nz-page-header-extra>
</nz-page-header>

<div *ngIf="loading">Loading...</div>

<div *ngIf="organisation">

  <nz-descriptions nzTitle="Client data" nzBordered [nzColumn]="2">
    <nz-descriptions-item nzTitle="Name">{{organisation.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Client">{{organisation.client.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Description" [nzSpan]="2">{{organisation.description}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Status" [nzSpan]="2">
      <nz-badge nzStatus="success" nzText="Active"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="ID">{{organisation.id}}</nz-descriptions-item>
  </nz-descriptions>

  <nz-divider nzText="Organisational units" nzOrientation="left"></nz-divider>

  <nz-table #basicTable [nzData]="organisation.organisationalUnits">
    <thead>
      <tr>
        <th>Name</th>
        <th>Desciption</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ou of basicTable.data">
        <td (click)="selectOrganisationalUnit(ou.id)">{{ou.name}}</td>
        <td (click)="selectOrganisationalUnit(ou.id)">{{ou.description}}</td>
        <td align="right">
          <nz-space>
            <nz-space-item>
              <a> <i (click)="selectOrganisationalUnit(ou.id)" nz-icon nzType="eye" nzTheme="outline"></i> </a>
            </nz-space-item>
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>

</div>

