<mat-toolbar-row>
  <h1> {{ title('index') }} </h1>
  <span style="flex: 1 1 auto;"></span>
  <div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="onNew()"> New {{ data.entityName }} </button>
  </div>
</mat-toolbar-row>

<admin-table
  [parent]="data.parent?.path"
  [config]="data.entityConfig.index"
  [items]="data.items"
  (selectItem)="onSelect($event)"
  (actionItem)="onAction($event)">
</admin-table>

<admin-breadcrumb [items]="breadcrumbs"></admin-breadcrumb>
