.showTable {

  margin-top: 20px;
  border: none;
  width: 100%;

  th {
    font-weight: lighter;
    width: 20%;
    background-color: lavender;
    padding: 10px;
    border-bottom: solid 1px rgba(0,0,0,.12);
  }

  td {
    width: 80%;
    padding: 10px;
    border-bottom: solid 1px rgba(0,0,0,.12);
  }
}

.childTable {
  margin-top: 20px;
}
