
<mat-toolbar-row>
  <h1> {{ name() }} </h1>
  <span style="flex: 1 1 auto;"></span>
  <div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="onList()"> All </button>
    <button mat-flat-button (click)="onEdit()"> Edit </button>
    <button mat-flat-button (click)="onDelete()"> Delete </button>
  </div>
</mat-toolbar-row>

<div class="mat-elevation-z4">
  <table class="showTable">
    <tbody>
      <tr class="mat-row cdk-row" *ngFor="let field of fields">
        <th align="right"> {{ label( field ) }} </th>
        <td [innerHTML]="render( field )"></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngFor="let table of data.entityConfig.show.table">

  <a [routerLink]="['/admin', this.data.path, this.data.id, table.path]">
    <h3>{{ title( 'detailTable', table )}}</h3>
  </a>

  <admin-table
    [parent]="{path:data.path, id:data.id}"
    [config]="table"
    [items]="tableItems(table)"
    (selectItem)="onChildSelect( $event, table.path )"
    (actionItem)="onAction($event)">
  </admin-table>

</div>

<admin-breadcrumb [items]="breadcrumbs"></admin-breadcrumb>
