.showTable {

  border: none;
  width: 100%;

  th {
    font-weight: lighter;
    width: 20%;
    background-color: lavender;
    padding: 10px 5px 10px 5px;
  }

  td {
    width: 80%;
    padding: 10px 5px 10px 5px;
  }
}
