
<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">

    <ng-container *ngFor="let field of fields" [matColumnDef]="field.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ label( field ) }} </th>
      <td mat-cell *matCellDef="let item" [innerHTML]="render( field, item )"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>



<!--ng-container *ngIf="search">
  <nz-input-group [nzSuffix]="inputClearTpl">
    <input
      nz-input
      placeholder="Search data..."
      (input)="onSearch($event)"
      [(ngModel)]="searchTerm" />
  </nz-input-group>
  <ng-template #inputClearTpl>
    <i nz-icon
      *ngIf="searchTerm"
      (click)="cancelSearch()"
      [nzType]="'close-circle'"
      [nzTheme]="'outline'">
    </i>
  </ng-template>
</ng-container>

<nz-table #basicTable [nzData]="items">
  <thead>
    <tr>
      <th *ngFor="let column of columns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.filterList"
          [nzFilterFn]="column.filterFn">
        {{ column.label }}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td *ngFor="let column of columns" (click)="onSelect(item.id)">
        <span [innerHTML]="item[column.name]"></span>
      </td>
      <td align="right">
        <nz-space>
          <nz-space-item *ngFor="let action of actions">
            <a (click)="action.onAction(item)">
              <i *ngIf="action.icon" nz-icon [nzType]="action.icon" nzTheme="outline"></i>
              {{ action.text || null }}
            </a>
          </nz-space-item>
          <nz-space-item *ngIf="defaultActions.includes('show')">
            <a (click)="onSelect(item.id)">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </a>
          </nz-space-item>
          <nz-space-item *ngIf="defaultActions.includes('edit')">
            <a (click)="onEdit(item.id)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
          </nz-space-item>
          <nz-space-item *ngIf="defaultActions.includes('delete')">
            <a (click)="onDelete(item.id)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </nz-space-item>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table-->
