<ng-container *ngIf="search">
  <nz-input-group [nzSuffix]="inputClearTpl">
    <input
      nz-input
      placeholder="Search data..."
      (input)="onSearch($event)"
      [(ngModel)]="searchTerm" />
  </nz-input-group>
  <ng-template #inputClearTpl>
    <i nz-icon
      *ngIf="searchTerm"
      (click)="cancelSearch()"
      [nzType]="'close-circle'"
      [nzTheme]="'outline'">
    </i>
  </ng-template>
</ng-container>

<nz-table #basicTable [nzData]="items">
  <thead>
    <tr>
      <th *ngFor="let column of columns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.filterList"
          [nzFilterFn]="column.filterFn">
        {{ column.label }}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <ng-container *ngFor="let field of fields">
        <td *ngIf="isLink( field ); else noLink">
          <a [routerLink]="link( item.source, field )">
            {{ item[field.name] }}
          </a>
        </td>
        <ng-template #noLink>
          <td (click)="onSelect(item.id)" (click)="onSelect(item.id)" style="cursor: pointer;">
            {{ item[field.name] }}
          </td>
        </ng-template>
      </ng-container>

      <td align="right">
        <nz-space>
          <nz-space-item>
            <a (click)="onSelect(item.id)"> <i nz-icon nzType="eye" nzTheme="outline"></i> </a>
          </nz-space-item>
          <nz-space-item>
            <a (click)="onDelete(item.id)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </nz-space-item>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
