<nz-table #basicTable [nzData]="items">
  <thead>
    <tr>
      <th *ngFor="let field of fields">{{ label(field) }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <ng-container *ngFor="let field of fields">
        <td *ngIf="isLink( field ); else noLink">
          <a [routerLink]="link( item, field )">
            {{ value( item, field ) }}
          </a>
        </td>
        <ng-template #noLink>
          <td (click)="onSelect(item.id)" (click)="onSelect(item.id)" style="cursor: pointer;">
            {{ value( item, field ) }}
          </td>
        </ng-template>
      </ng-container>

      <td align="right">
        <nz-space>
          <nz-space-item>
            <a (click)="onSelect(item.id)"> <i nz-icon nzType="eye" nzTheme="outline"></i> </a>
          </nz-space-item>
          <nz-space-item>
            <a (click)="onDelete(item.id)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </nz-space-item>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
